body,
html {
  margin: 0;
}

::-webkit-scrollbar {
  width: 0;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  width: 100vw;
  height: 55px;
  position: absolute;
  top: 0;
  z-index: 2;
  background: transparent;
}

.pointer {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.come_on {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.come_on ul {
  height: 100%;
  margin: 0;
  padding: 0;
  float: right;
}

.come_on li {
  display: inline-block;
  line-height: 86px;
  height: 100%;
  font-weight: 300;
  font-size: 16px;
}

.come_on li:nth-of-type(1) {
  margin-right: 15px;
}

header {
  background: url("/img/sjsm.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  -webkit-transition: .5s;
  transition: .5s;
}

.container {
  width: 90%;
  height: 100%;
  position: relative;
  margin: 0 auto;
}

.text {
  position: absolute;
  width: 100%;
  height: 64px;
}

.text h3 {
  margin: 0;
  width: 100%;
  -webkit-animation-name: glowing;
          animation-name: glowing;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  text-align: center;
  font-size: 76px;
  color: #fff;
  font-weight: 200;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@-webkit-keyframes glowing {
  from {
    text-shadow: none;
  }

  25% {
    text-shadow: 0 0 12px #fff;
  }

  60% {
    text-shadow: none;
  }

  75% {
    text-shadow: 0 0 3px #fff;
  }

  to {
    text-shadow: none;
  }
}

@keyframes glowing {
  from {
    text-shadow: none;
  }

  25% {
    text-shadow: 0 0 12px #fff;
  }

  60% {
    text-shadow: none;
  }

  75% {
    text-shadow: 0 0 3px #fff;
  }

  to {
    text-shadow: none;
  }
}

@-webkit-keyframes shadowing {
  from {
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  25% {
    -webkit-box-shadow: 0 0 15px #eee;
            box-shadow: 0 0 15px #eee;
  }

  65% {
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  70% {
    -webkit-box-shadow: 0 0 5px #eee;
            box-shadow: 0 0 5px #eee;
  }

  to {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@keyframes shadowing {
  from {
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  25% {
    -webkit-box-shadow: 0 0 15px #eee;
            box-shadow: 0 0 15px #eee;
  }

  65% {
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  70% {
    -webkit-box-shadow: 0 0 5px #eee;
            box-shadow: 0 0 5px #eee;
  }

  to {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.login-win {
  display: none;
  width: 480px;
  height: 200px;
  background: rgba(254, 254, 254, 0.9);
  border-radius: 3px;
  -webkit-animation-name: shadowing;
          animation-name: shadowing;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  position: absolute;
  top: calc(50% - 130px);
  left: calc(50% - 240px);
  z-index: 2;
  padding: 15px 0 0 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.close {
  width: 100%;
  height: 25px;
  margin-bottom: 5px;
}

.close #close {
  font-size: 15px;
  color: #606060;
  cursor: pointer;
}

.form-group {
  width: 100%;
  height: calc(100% - 30px);
}

.form-group form {
  width: 100%;
  position: relative;
  height: calc(100% - 25px);
}

.form-group form .input-group {
  height: calc(100%/3);
  margin-bottom: 7px;
}

.form-group form label {
  width: 100%;
  font-weight: 300;
  margin-bottom: 4px;
  -webkit-transition: .5s;
  transition: .5s;
}

.form-group form input {
  width: 100%;
  outline: none;
  padding: 5px 3px;
  background: inherit;
  font-size: 12px;
  border: none;
  border-bottom: 1px solid #000;
  -webkit-transition: .5s;
  transition: .5s;
}

.form-group form input:focus {
  -webkit-box-shadow: 3px 3px 5px #878787;
          box-shadow: 3px 3px 5px #878787;
}

.form-group form input[type=submit] {
  position: absolute;
  bottom: -10px;
  right: 0;
  width: 25%;
  cursor: pointer;
  border: 1px solid #000;
  -webkit-transition: .5s;
  transition: .5s;
}

.form-group form input[type=submit]:hover {
  background: #343434;
  color: #eee;
}

