body,html{
  margin:0;

  width:100vw;
  height:100vh;

  overflow:hidden;
}

.main-container{
  width:99%;
  height:99%;

  margin:0.5% auto;
}

.group{
  box-shadow:3px 3px 2px #bbbbbb;
}

nav{
  width:100%;
  height:55px;

  border:1px solid #bbbbbb;
}

.enroll-group{
  width:100%;
  height:80px;

  margin-top:.5%;
}

.input-group{
  width:calc(49.5% - 20px);
  height:75px;

  padding:5px 10px;

  display:inline-block;

  border:1px solid #bbbbbb;

  position:relative;
  label{
    font-weight:300;
    width:100%;
  }
  input{
    position:absolute;
    width:85%;
    float:left;

    padding:3px 10px;

    bottom:15px;

    border:none;
    border-bottom:1px solid #bbbbbb;

    outline:none;
  }
  input[type=button]{
    width:10%;
    padding:0;
    right:2px;

    border:1px solid #bbbbbb;
    border-radius:3px;

    transition:.5s;
  }
  input[type=button]:hover{
    background:#4e4e4e;
    color:#eee;
  }
}

.input-group:nth-of-type(2){
  margin-right:0;
  float:right;
}

.main{
  width:100%;

  height:calc(100vh - 187px);

  margin-top:1%;
  .info-group{
    width:calc(49.5% - 20px);
    height:100%;

    padding:5px 10px;

    display:inline-block;

    border:1px solid #bbbbbb;

    .inline{
      width:100%;
      border:1px solid #bbbbbb;
    }
    .inline:nth-of-type(1){
      height:200px;
    }
    .inline:nth-of-type(2){
      margin-top:7px;
      height:calc(100% - 214px);
    }

  }
  .info-group:nth-of-type(2){
    float:right;
  }
}

.items{

  padding:0;
  .item:nth-of-type(1){
    font-weight:400;
  }

  .item{
    margin-bottom:15px;

    border-bottom:1px solid #bbbbbb;
    font-weight:300;
  }

  .item:nth-last-of-type(1){
    margin-bottom:0;
  }

  li{
    display:inline-block;

    width:calc(100%/6);

    text-align:center;
  }
}

.light-info{
  position:relative;
  .card-img{
    position:absolute;
    top:0;
    left:0;
    .card{
      width:100%;
      height:100%;

      border-right:1px solid #bbbbbb;
    }

  }

  .in{
    width:calc(49.5%);
    height:100%;

    display:inline-block;
  }

  .in:nth-of-type(2){
    position:absolute;
    top:0;
    right:0;

    .user-head{
      font-weight:400;
      font-size:19px;

      margin-bottom:25px;
    }

    ul{
      list-style: none;
    }

    li{
      font-weight:300;
      text-decoration: none;
    }

  }
}

.graph{
  width:98%;
  height:45px;
  margin:25px auto 0 auto;

  border:1px solid #bbbbbb;
}
